@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

.home-container {
  padding: 2%;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: black 1pt solid; */
  font-family: 'Sora', sans-serif;
}
.home-block {
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 8%;
  /* border: black solid 1pt; */
}

#img-block {
  width: 100%;
}
#welcome-blockimg {
  width: 100%;
  box-shadow: 0 0 1em rgb(158, 159, 166);
}

#welcome-blockimg-baby {
  width: 125%;
  box-shadow: 0 0 1em rgb(158, 159, 166);
}

#welcome-group6 {
  width: 100%;
}

.home-block-6 {
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 30%;
  /* border: black solid 1pt; */
}

.imgref {
  font-size: 5pt;
}

/* *********** BUTTONS *************  */

.sign-butt {
  --c: #229091; /* the color*/

  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}
.sign-butt:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}
.sign-butt:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}

.sign-butt {
  font-family: 'Sora', sans-serif;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0.1em 0.6em;
  font-weight: bold;
  border: none;
}

.blog-butt {
  --c: orange; /* the color*/

  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}
.blog-butt:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}
.blog-butt:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}

.blog-butt {
  font-family: 'Sora', sans-serif;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0.1em 0.6em;
  font-weight: bold;
  border: none;
}

.hear-butt {
  --c: rgb(230, 155, 226); /* the color*/

  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}
.hear-butt:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}
.hear-butt:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}

.hear-butt {
  font-family: 'Sora', sans-serif;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0.1em 0.6em;
  font-weight: bold;
  border: none;
}

/* ************ SINGLE WORDS *********** */
#women-word {
  color: orange;
}

#whoword {
  color: rgb(201, 82, 102);
}

#whyword {
  color: rgb(29, 94, 126);
}

#gearword {
  color: rgb(84, 145, 110);
}

#blogword {
  color: rgb(253, 166, 180);
}

#connectedword {
  color: rgb(186, 127, 225);
}

#usword {
  color: rgb(237, 125, 64);
}
#arrow {
  padding: 4%;
}
#arrow:hover {
  border: black solid 1pt;
  border-radius: 50%;
  padding: 2%;
}
