.home-container{
    padding: 2%
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black 1pt solid;
}
.home-block {
    padding: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    border: black solid 1pt;
}

