@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

.home-container {
  padding: 2%;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: black 1pt solid; */
  font-family: 'Sora', sans-serif;
}
.home-block {
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 8%;
  /* border: black solid 1pt; */
}

#img-block {
  width: 100%;
}
#welcome-blockimg {
  width: 100%;
  box-shadow: 0 0 1em rgb(158, 159, 166);
}

#welcome-blockimg-baby {
  width: 125%;
  box-shadow: 0 0 1em rgb(158, 159, 166);
}

#welcome-group6 {
  width: 100%;
}

.home-block-6 {
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 30%;
  /* border: black solid 1pt; */
}

.imgref {
  font-size: 5pt;
}

/* *********** BUTTONS *************  */

.sign-butt {
  --c: #229091; /* the color*/

  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}
.sign-butt:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
  color: white;
}
.sign-butt:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}

.sign-butt {
  font-family: 'Sora', sans-serif;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0.3em 0.9em;
  font-weight: bold;
  border: none;
}

.blog-butt {
  --c: orange; /* the color*/

  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}
.blog-butt:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
  color: white;
}
.blog-butt:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}

.blog-butt {
  font-family: 'Sora', sans-serif;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0.3em 0.9em;
  font-weight: bold;
  border: none;
}

.hear-butt {
  --c: rgb(230, 155, 226); /* the color*/

  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}
.hear-butt:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
  color: white;
}
.hear-butt:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}

.hear-butt {
  font-family: 'Sora', sans-serif;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0.3em 0.9em;
  font-weight: bold;
  border: none;
}

/* ************ SINGLE WORDS *********** */
#women-word {
  color: orange;
}

#whoword {
  color: rgb(201, 82, 102);
}

#whyword {
  color: rgb(29, 94, 126);
}

#gearword {
  color: rgb(84, 145, 110);
}

#blogword {
  color: rgb(253, 166, 180);
}

#connectedword {
  color: rgb(186, 127, 225);
}

#usword {
  color: rgb(237, 125, 64);
}


/* ~~~~~~~ INIT. BTN ~~~~~~~ */
#whowhy-link{
  text-decoration: none;
}
.btn {    
  position: relative; 
  /* padding: 1.4rem 4.2rem;
  padding-right: 3.1rem; */
 
  padding: 2rem;
  padding-left: 3rem;
  font-size: 15px;
  color: black;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);  
  cursor: pointer;
  user-select: none;
  
}

.btn:before, .btn:after {
  content: '';
  position: absolute; 
  transition: inherit;
  z-index: -1;
}

.btn:hover {
  color: white;
  font-weight: bolder;
  transition-delay: .5s;
}

.btn:hover:before {
  transition-delay: 0s;
}

.btn:hover:after {
  background-image: linear-gradient(-25deg, #F9D976 0%, #f39f86 100%);
  transition-delay: .35s;
  padding-bottom: 1.5%;
}
/* From Left */

.from-left:before, 
.from-left:after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-left:before {
  right: 0;
  border:2.5px solid #f39f86;
  border-left: 0;
  border-right: 0;  
}

.from-left:after {
  left: 0;
  
}

.from-left:hover:before,
.from-left:hover:after {
  width: 100%;
}
